@page "/work"

<PageTitle>McPeakDev - Work History</PageTitle>


<div class="d-flex flex-align-center full-height">
    <MudCarousel Class="mud-width-full my-auto" Style="height:650px;" ShowArrows="false" ShowBullets="true" EnableSwipeGesture="false" TData="object">
        <MudCarouselItem Transition="MudBlazor.Transition.Fade" Class="d-flex flex-align-center">
            <MudCard Elevation="25" Class="rounded pa-4 mx-auto" style="max-width: 850px">
                <MudCardContent Class="flex-align-center">
                    <div class="d-flex flex-align-between">
                        <MudText Typo="Typo.h5" Class="animate__animated animate__delay-1s animate__pulse" Color="Color.Primary">Software Developer II</MudText>
                        <MudText Typo="Typo.h6" Class="animate__animated animate__delay-1s animate__pulse">Business Information Systems</MudText>
                    </div>
                    <div class="d-flex flex-align-between">
                        <MudText Class="bold pt-1" Typo="Typo.h6">April 2023 - Present</MudText>
                        <div>
                            <MudTooltip 
                                Text="Job Type" 
                                Arrow="true" 
                                Placement="Placement.Left"
                            >
                                <MudChip Color="Color.Primary" Variant="Variant.Text" Label="true" Icon="@Icons.Material.Filled.AccessTime" style="margin-left: 0px;">Full-Time</MudChip>
                            </MudTooltip>
                            <MudTooltip 
                                Text="Location" 
                                Arrow="true" 
                                Placement="Placement.Right"
                            >
                                <MudChip Color="Color.Primary" Variant="Variant.Text" Label="true" Icon="@Icons.Material.Filled.LocationOn" style="margin-left: 0px;">Remote</MudChip>
                            </MudTooltip>
                        </div>
                    </div>
                    <MudDivider class="mt-4"/>
                    <MudList Clickable="true">
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text='Improves existing PHP projects to maintain PCI compliance, enhance readability, and improve maintainability.'/>
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text="Improves existing ACH and Credit Card payment systems to ensure higher throughput and success rate." />
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text="Improved existing kiosk system to better handle credit card transactions (MSR and EMV) through three different hardware payment devices" />
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text="Attends meetings daily to go over current team objectives. Communicates any issues currently facing and provides practical solutions to those in need of help." />
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text="Communicates any potential issues that could arise before, during, or after development to team members and team leaders." />
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text="Documents code and procedures for new and existing products." />

                    </MudList>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>
        <MudCarouselItem Transition="MudBlazor.Transition.Fade" Class="d-flex flex-align-center">
            <MudCard Elevation="25" Class="rounded pa-4 mx-auto" style="max-width: 850px">
                <MudCardContent Class="flex-align-center">
                    <div class="d-flex flex-align-between">
                        <MudText Typo="Typo.h5" Class="animate__animated animate__delay-1s animate__pulse" Color="Color.Primary">Software Developer I</MudText>
                        <MudText Typo="Typo.h6" Class="animate__animated animate__delay-1s animate__pulse">Business Information Systems</MudText>
                    </div>
                    <div class="d-flex flex-align-between">
                        <MudText Class="bold pt-1" Typo="Typo.h6">June 2020 - April 2023</MudText>
                        <div>
                            <MudTooltip 
                                Text="Job Type" 
                                Arrow="true" 
                                Placement="Placement.Left"
                            >
                                <MudChip Color="Color.Primary" Variant="Variant.Text" Label="true" Icon="@Icons.Material.Filled.AccessTime" style="margin-left: 0px;">Full-Time</MudChip>
                            </MudTooltip>
                            <MudTooltip 
                                Text="Location" 
                                Arrow="true" 
                                Placement="Placement.Right"
                            >
                                <MudChip Color="Color.Primary" Variant="Variant.Text" Label="true" Icon="@Icons.Material.Filled.LocationOn" style="margin-left: 0px;">Remote</MudChip>
                            </MudTooltip>
                        </div>
                    </div>
                    <MudDivider class="mt-4"/>
                    <MudList Clickable="true">
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text='Improved query execution of existing reports by 30% by introducing newer technologies that is in Golang.'/>
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text="Improved DOM performance on websites that were using deprecated versions of Angular and jQuery." />
                        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconColor="Color.Primary" Text="Improved code readability and maintainability by refactoring websites and other projects." />
                    </MudList>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>
       
    </MudCarousel>
</div>
